pandas
sklearn.model_selection.train_test_split
sklearn.preprocessing.StandardScaler
sklearn.metrics.accuracy_score
sklearn.metrics.classification_report
sklearn.preprocessing.MinMaxScaler
collections.Counter
imblearn.over_sampling.SMOTE
sklearn.neighbors.KNeighborsClassifier
sklearn.metrics.confusion_matrix
sklearn.metrics.f1_score
sklearn.metrics.ConfusionMatrixDisplay
matplotlib.pyplot 
sklearn.svm.NuSVC
numpy 
sklearn.model_selection.cross_val_score
sklearn.svm.SVC
sklearn.tree.DecisionTreeClassifier
sklearn.ensemble.RandomForestClassifier
sklearn.ensemble.GradientBoostingClassifier
sklearn.naive_bayes.GaussianNB
google.colab.drive
joblib
google.colab.files
streamlit
